/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin: 25px 0px 15px 0px;
}

/* Site wide start */

hr { 
    width: 100%;
	margin-top: 25px;
	border-top: 1px solid black;
}
@media ( max-width: 500px ) {
    /* Mobile */
    hr { 
        width: 90%;
        margin-top: 25px;
        border-top: 1px solid black;
    }
}

    /* Main container */
.mainContainer {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 0px auto;
}
@media( max-width: 500px ) {
    /* Mobile */
    .mainContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0px auto;
    }
}
    /* Header and navigation start */

header {
    display: flex;
    align-items: center;
}
@media( max-width: 800px ) {
    /* Tablet */
    header {
        flex-direction: column;
        justify-content: center;
    }
}
@media( max-width: 500px ) {
    /* Mobile */
    header {
        flex-direction: column;
        margin-bottom: 30px;
        border-bottom: 1px solid lightgrey;
    }    
}
    
header img {
    order: 1;
    margin: 20px 0px 20px auto;
    
}
@media( max-width: 800px ) {
    /* Tablet */
    header img {
        order: 0;
        margin: 20px auto;
    }
}
@media( max-width: 500px ) {
    /* Mobile */
    header img {
        order: 0;
        width: 35%;
        height: auto;
        margin: 20px auto;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto 0px;
    width: 100%;
}
@media( max-width: 500px ) {
    /* Mobile */
    nav {
        flex-direction: column;
        justify-content: center;
        margin: auto 0px;
        width: 100%;
    }
}

nav a{
    display: flex;
    align-items: center;
	width: 100%;
	height: 50px;
	color: lightgrey;
    text-decoration: none;  
}
@media( max-width: 500px ) {
    /* Mobile */
    nav a{
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        color: lightgrey;
        text-decoration: none;
        border-top: 1px solid lightgrey;
    }
}
    /* Header and navigation end */

    /* Copyright */
.copyright {
     margin: 30px auto 20px auto;
}

/* Site wide end */

/* Page specific start */
    /* Intro/slogan start */

.introContainer{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
}

.introContainer .headerimg {
    margin: 50px;
}
@media( max-width: 800px ) {
    /* Tablet */
    .introContainer .headerimg {
        display: none;
    }
}

.sloganContainer {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Bangers', cursive;
	font-size: 50px;
	margin: 50px;
}
@media( max-width: 800px ) {
    /* Tablet */
    .sloganContainer {
        margin: 10px;
    }
}

.sloganContainer a{
	text-decoration: none;
    font-size: 24px;
    width: 200px;
    margin: 20px 20px;
    padding: 5px;
    text-align: center;
    color: black;
    display: inline-block;
	border: 1px solid black;
	font-family: 'Titillium Web', sans-serif;
}

.introContainer a:hover, .introContainer a:active, .introContainer a:focus{
    background-color: black;
	color:white;
  }
    /* Intro/slogan end */

    /* Feature list start */
.featuresContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media ( max-width: 500px ) {
    /* Mobile */
    .featuresContainer {
        width: 90%;
        margin: 0px auto;
        flex-direction: column;
    }
}

.featuresContainer section {
    width: 49%;
    display: flex;
    flex-direction: column;
}
@media ( max-width: 500px ) {
    /* Mobile */
    .featuresContainer section {
        width: 100%;
        margin: 10px auto;
        flex-direction: column;
    }
}

.featuresContainer2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media ( max-width: 500px ) {
    /* Mobile */
    .featuresContainer2 {
        width: 90%;
        margin: 0px auto;
        flex-direction: column;
    }
}

.featuresContainer2 section {
    width: 32%;
    display: flex;
    flex-direction: column;
}
@media ( max-width: 500px ) {
    /* Mobile */
    .featuresContainer2 section {
        width: 100%;
        margin: 10px auto;
        flex-direction: column;
    }
}
    /* Feature list end */

    /* Middle image */
.middle-img {
    width: 100%;
    margin-top: 20px;
}
@media ( max-width: 500px ) {
    /* Mobile */
    .middle-img {
        width: 90%;
        margin: 30px auto 0px auto;
    }
}
    /* Contact info */
.contactContainer {
    width: 100%;
    margin: 10px auto;
}
@media ( max-width: 500px ) {
    /* Mobile */
    .contactContainer {
        width: 90%;
        margin: 10px auto;
    }
}

/* Page specific end */